# URL du serveur Keycloak
EXPO_PUBLIC_KEYCLOAK_URL=http://localhost:8080

# URL de l'api
EXPO_PUBLIC_API_URL=http://localhost:8085

# Nom du realm Keycloak
EXPO_PUBLIC_KEYCLOAK_REALM=Homeguard

# ID du client Keycloak
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=homeguard-mobile

# Secret du client Keycloak (si applicable)
EXPO_PUBLIC_KEYCLOAK_CLIENT_SECRET=votre-secret-ici

# Schéma de redirection pour l'application mobile
EXPO_PUBLIC_REDIRECT_URI_SCHEME=guardhomereactnative
